#article * {
	margin-bottom: 10px;
}

#article p {
	word-wrap: break-word;
	word-break: break-word;
}

#article blockquote {
	border-left: 5px solid #DDD;
	padding-left: 5px;
}

#article table>*>*>*
 {
	border: 3px solid #DDD;
	padding: 3px;
}
