/* 返回顶部 */
.back-to-top {
	position: fixed;
	display: none;
	font-size: 2em;
	width: 50px;
	height: 50px;
	bottom: 50px;
	right: 50px;
	border: 1px solid;
	outline: 0;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktY2hldnJvbi11cCIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMGw2IDZhLjUuNSAwIDAgMS0uNzA4LjcwOEw4IDUuNzA3bC01LjY0NiA1LjY0N2EuNS41IDAgMCAxLS43MDgtLjcwOGw2LTZ6Ii8+PC9zdmc+);
	background-color: whitesmoke;
	background-position: center;
	background-repeat: repeat-y;
	background-size: calc(70%);
}

.back-to-top:hover {
	background-position-y: calc(-185%);
	transition: all 0.3s linear;
}

/* 更好的sticky */
.sticky {
	/* 占位 */
}

.sticky>*:first-child {
	position: fixed;
}

.z-1050 {
	z-index: 1050;
}

@media (min-width:991.98px) {
	.position-lg-static {
		position: static !important;
	}

	.z-lg {
		z-index: auto !important;
	}
}

.footer {
	z-index: 1020
}

.width-300 {
	min-width: 300px;
	max-width: 300px;
}

.bg-size-cover {
	background-size: cover;
}

/* 背景 沙滩印象 */
.bg-beach {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgMjAwIDIwMCI+PHBhdGggZmlsbD0iIzc4RUVFQyIgZD0iTTAgMGgyMDB2MjAwSDB6Ii8+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJhIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjEwMCIgeTE9IjMzIiB4Mj0iMTAwIiB5Mj0iLTMiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48bGluZWFyR3JhZGllbnQgaWQ9ImIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwIiB5MT0iMTM1IiB4Mj0iMTAwIiB5Mj0iOTciPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1vcGFjaXR5PSIwIi8+PHN0b3Agb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PGcgZmlsbD0iIzRmYzljNyIgZmlsbC1vcGFjaXR5PSIuNiI+PHBhdGggZD0iTTEwMCAwaDEwMHYxMDBIMTAwek0wIDEwMGgxMDB2MTAwSDB6Ii8+PC9nPjxnIGZpbGwtb3BhY2l0eT0iLjUiPjxwYXRoIGZpbGw9InVybCgjYSkiIGQ9Ik0xMDAgMzBMMCAwaDIwMHoiLz48cGF0aCBmaWxsPSJ1cmwoI2IpIiBkPSJNMTAwIDEwMEwwIDEzMHYtMzBoMjAwdjMweiIvPjwvZz48L3N2Zz4=);
	background-attachment: fixed;
}

/* 背景 抽象画 */
.bg-abstract {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIj48cGF0aCBmaWxsPSIjRjVGNkY4IiBkPSJNMCAwaDEwMHYxMDBIMHoiLz48cGF0aCBmaWxsPSIjOTdBOUYzIiBkPSJNMCAwaDEwMHY1MEgweiIvPjwvc3ZnPg==);
	background-attachment: fixed;
}

/* 背景 多彩 */
.bg-colorful {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjEwODAiPjxyYWRpYWxHcmFkaWVudCBpZD0iYSIgY3g9Ijk0OCIgY3k9IjExOTYiIHI9IjQ5NDYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9Ii4xIiBzdG9wLWNvbG9yPSIjMDBjNWQ0Ii8+PHN0b3Agb2Zmc2V0PSIuOCIgc3RvcC1jb2xvcj0iI2ZmZiIvPjwvcmFkaWFsR3JhZGllbnQ+PHJhZGlhbEdyYWRpZW50IGlkPSJiIiBjeD0iMTUwMCIgY3k9Ii0zMDAiIHI9IjI1MDAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9Ii4xIiBzdG9wLWNvbG9yPSIjOTRmZmNiIi8+PHN0b3Agb2Zmc2V0PSIuOCIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2EpIi8+PHJlY3QgY2xhc3M9InN0MiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNiKSIvPjwvc3ZnPg==);
	background-size: cover;
	background-attachment: fixed;
}



/* Testing */
.colorF {
	background-color: #FFF;
}

.colorE {
	background-color: #EEE;
}

.colorD {
	background-color: #DDD;
}

.colorC {
	background-color: #CCC;
}

.colorB {
	background-color: #BBB;
}

.colorA {
	background-color: #AAA;
}

.color9 {
	background-color: #999;
}

.color8 {
	background-color: #888;
}

.color7 {
	background-color: #777;
}

.color6 {
	background-color: #666;
}

.color5 {
	background-color: #555;
}

.color4 {
	background-color: #444;
}

.color3 {
	background-color: #333;
}

.color2 {
	background-color: #222;
}

.color1 {
	background-color: #111;
}

.color0 {
	background-color: #000;
}
